<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzuli.mapper.AdminRoleMapper">

    <resultMap id="BaseResultMap" type="com.zzuli.po.AdminRole">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="adminId" column="admin_id" jdbcType="INTEGER"/>
            <result property="roleId" column="role_id" jdbcType="INTEGER"/>
            <result property="isDelete" column="is_delete" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,admin_id,role_id,
        is_delete
    </sql>
</mapper>
